<div class="text-center">
  <h3>
     Are you sportviated? <br>
     <small>Please let us know more about your profile</small>
  </h3>
</div>

<div class="board">
  <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
  <div class="board-inner">
    <ul class="nav nav-tabs" id="myTab">
      <div class="liner"></div>
       <li>
        <a ui-sref-active="active" ui-sref=".personal_info" title="Personal Info" class="text-info">
          <span class="round-tabs one">
            <i class="fa fa-user"></i>
          </span>
        </a>
      </li>

      <li>
        <a ui-sref-active="active" ui-sref=".sports_profile_info" title="Sports Profile Info" class="text-info">
          <span class="round-tabs two">
            <i class="fa fa-futbol-o"></i>
         </span>
       </a>
     </li>
     <li>
       <a ui-sref-active="active" ui-sref=".interests" title="Interests" class="text-info">
         <span class="round-tabs three">
           <i class="fa fa-heart"></i>
         </span>
       </a>
     </li>
   </ul>
  </div>

  <div class="tab-content">
     <!-- use ng-submit to catch the form submission and use our Angular function -->
     <form id="profile-complete-form" ng-submit="processForm()">
         <!-- our nested state views will be injected here -->
         <div id="form-views" ui-view></div>
     </form>
   </div>
</div>
