<div class="top-buffer-md">
  <fieldset>
    <div class="tabbable-panel">
				<div class="tabbable-line">
          
            <my-tabs tabs="tabs"></my-tabs>

        </div>
      </div>

    <div class="col-xs-12 form-group">
      <div class="form-group top-buffer-md pull-right">
        <a class="btn btn-warning" title="Skip" bs-tooltip>
          Skip
        </a>
        <a class="btn btn-info" ng-click="updateProfile(user)">
          Save
        </a>
        <a ui-sref="form.interests" class="btn btn-success">
          Next
        </a>
      </div>
    </div>
  </fieldset>
</div>
