/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.board {
  .nav-tabs {
      position: relative;
      /* border-bottom: 0; */
      /* width: 80%; */
      border: 1px solid #E0E0E0;
      margin-bottom: 0;
      box-sizing: border-box;

  }

  > div.board-inner{
    background: #fafafa image-url("sports_image_7.png");
    background-size: 32%;

  }

  p.narrow{
      width: 60%;
      margin: 10px auto;
  }

  .liner{
      height: 2px;
      background: #ddd;
      position: absolute;
      width: 70%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 50%;
      z-index: 1;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      cursor: default;
      /* background-color: #ffffff; */
      border: 0;
      border-bottom-color: transparent;
  }

  span.round-tabs{
      width: 70px;
      height: 70px;
      line-height: 70px;
      display: inline-block;
      border-radius: 100px;
      background: white;
      z-index: 2;
      position: absolute;
      left: 0;
      text-align: center;
      font-size: 25px;
      border: 2px solid;
  }

  li.active span.round-tabs{
      background: #fff !important;
      border: 2px solid #ddd;
  }

  .nav-tabs > li.active > a span.round-tabs{
      background: #fafafa;
  }
  .nav-tabs > li {
      width: 33%;
  }

  .nav-tabs > li a{
     width: 70px;
     height: 70px;
     margin: 20px auto;
     border-radius: 100%;
     padding: 0;
  }

  .nav-tabs > li a:hover{
      background: transparent;
  }
}
