<div class="modal" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Login</h3>
      </div>
      <div class="modal-body" ng-controller="NavCtrl">
        <div class="login_register">
          <div class="login-form">
            <form ng-submit="login()" class="form-horizontal">
              <fieldset>
                <legend></legend>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your email" ng-model="user.email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                </div>
                <div>
                  <input type="submit" class="btn btn-success pull-right" ng-click="$hide()" value="Login">
                  <button type="button" class="btn btn-default pull-right right-buffer-sm" ng-click="$hide()">Cancel</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
