<div id="features" class="container services">
    <div class="row">
      <div class="col-lg-12 m-b-lg text-center">
          <div class="navy-line"></div>
          <h1>Lorem ipsum dolor sit amet, <br> <span class="text-primary"> illum fastidii dissentias quo ne.</span> </h1>
          <p>Sea ne sint animal iisque, nam an soluta sensibus.</p>
      </div>
    </div>

  	<div class="row">
      <!-- Boxes de Acoes -->
      <div ng-repeat="feature in portalFeatures">
    	   <div ng-include="'auth/_portal_feature.html'"></div>
      </div>
  		<!-- /Boxes de Acoes -->
    </div>
</div>
